<div class=" relative">
  <div class="absolute bottom-10 -left-4 w-1/3 h-20 bg-cyan-400 filter blur-2xl mix-blend-multiply rounded-full">
  </div>
  <div class="absolute bottom-10 -right-4 w-1/3 h-20 bg-yellow-400 filter blur-2xl mix-blend-multiply rounded-full">
  </div>
  <div class="absolute bottom-10 left-1/4 w-1/2 h-20 bg-rose-400 filter blur-2xl mix-blend-multiply rounded-full">
  </div>

  <div class="relative bg-gray-50 flex justify-center items-center py-6 rounded-b-md">
    <div class="flex justify-center items-center space-x-12">
      <a [routerLink]="landingURL" class="flex items-center space-x-4 cursor-pointer">
        <div>
          <img class="h-8 w-auto sm:h-10" src="https://tailwindui.com/img/logos/workflow-mark-cyan-600.svg" alt="">

        </div>
        <div class="text-2xl">
          TODOAPP
        </div>
      </a>
      <div>
        <a [routerLink]="dashboardURL" [routerLinkActive]="'text-cyan-600'" class="font-medium text-gray-500 hover:text-cyan-600 cursor-pointer">
          Dashboard
        </a>
      </div>
      <div>
        <a [routerLink]="todoURL" [routerLinkActive]="'text-rose-600'" class="font-medium text-gray-500 hover:text-rose-600 cursor-pointer">
          TODOs
        </a>
      </div>
      <div>
        <a [routerLink]="userURL" [routerLinkActive]="'text-yellow-500'" class="font-medium text-gray-500 hover:text-yellow-500 cursor-pointer">
          User Management
        </a>
      </div>
      <div>
        <a class="ml-8 whitespace-nowrap inline-flex items-center justify-center px-4 py-2 border border-transparent rounded-md shadow-sm text-base text-white bg-cyan-500 hover:bg-cyan-600 cursor-pointer" (click)="goToLogin()">
          Logout
        </a>
      </div>
    </div>
  </div>
</div>
