<app-header></app-header>


<div class="widget-container">
  <div class="widget">

    <div class="widget-blur"
         style="background: linear-gradient(135deg, #06B6D4, #10B981)">
    </div>

    <div class="widget-content"
         style="border: 1px solid #72ceb4; min-height: 450px;">
      <div class=" text-cyan-500 dark:text-cyan-400 widget-headline">
        Today's ToDos for <span class="font-semibold">{{ currentUser?.firstName}} {{currentUser?.lastName}}</span>
      </div>

      <!-- component -->
      <ng-container *ngIf="todos$ | async; else loading">
        <ng-container *ngIf="todos.length; else noTodos">
          <div class="space-y-2" cdkDropList [cdkDropListData]="todos" (cdkDropListDropped)="drop($event)">
            <div class="border-2 border-gray-100 p-2 flex  space-x-6 cursor-move items-center rounded-xl"
                 *ngFor="let todo of todos" cdkDrag [class.opacity-40]="todo.isDone">
              <div class="bg-gray-50 rounded-xl" style="height:52px;" *cdkDragPlaceholder></div>
              <div (click)="markAsDone(todo)">
                <fa-icon [icon]="todo.isDone? checked: check"
                         class="text-gray-500 hover:text-rose-400 cursor-pointer text-xl"></fa-icon>
              </div>
              <div class="text-xl truncate" [ngClass]="todo.isDone? 'line-through': null">
                {{todo.name || '-/-' }}
              </div>
            </div>
          </div>
        </ng-container>
        <ng-template #noTodos>
          <div class="mt-8">
            <div class="placeholder-outline">
              <div class="flex flex-col justify-center items-center space-y-4 text-gray-400 dark:text-gray-500">
                <div class="mb-2">
                  <fa-icon [icon]="beer" class="text-4xl"></fa-icon>
                </div>
                <div class=" font-semibold text-xl">
                  Nothing to do for you today.
                </div>
                <div>
                  Grab a beer and relax.
                </div>
              </div>
            </div>
          </div>
        </ng-template>
      </ng-container>
      <ng-template #loading>
        <div class="mt-8">
          <div *ngFor="let i of [1,2,3]" class="loading-indicator"></div>
        </div>
      </ng-template>
    </div>
  </div>
</div>








