<app-header></app-header>

<div class="mt-40 flex items-center justify-center px-16">
  <div class="relative w-full max-w-5xl">

    <div class="absolute top-8 -left-4 w-80 h-80 bg-cyan-400 filter blur-2xl mix-blend-multiply rounded-full">
    </div>
    <div class="absolute top-8 -right-4 w-80 h-80 bg-yellow-400 filter blur-2xl mix-blend-multiply rounded-full">
    </div>
    <div class="absolute bottom-4 left-48 w-96 h-80 bg-rose-400 filter blur-2xl mix-blend-multiply rounded-full">
    </div>

    <div class="container relative mx-auto bg-white shadow p-8 rounded-md">
      <div class="text-4xl text-rose-400 mb-10">
       Today's ToDos for <span class="font-semibold">{{ currentUser.firstName}} {{currentUser.lastName}}</span>
      </div>

      <!-- component -->
      <ng-container *ngIf="todos$ | async; else loading">
        <ng-container *ngIf="todos.length; else noTodos">
          <div class="space-y-2" cdkDropList [cdkDropListData]="todos" (cdkDropListDropped)="drop($event)">
            <div class="border-2 border-gray-100 p-2 flex  space-x-6 cursor-move items-center rounded-xl"
                 *ngFor="let todo of todos" cdkDrag [class.opacity-40]="todo.isDone">
              <div class="bg-gray-50 rounded-xl" style="height:52px;" *cdkDragPlaceholder></div>
              <div (click)="markAsDone(todo)">
                <fa-icon [icon]="todo.isDone? checked: check"
                         class="text-gray-500 hover:text-rose-400 cursor-pointer text-xl"></fa-icon>
              </div>
              <div class="text-xl truncate" [ngClass]="todo.isDone? 'line-through': null">
                {{todo.name || '-/-' }}
              </div>
            </div>
          </div>
        </ng-container>
        <ng-template #noTodos>
          <div class="mt-4">
            <div class="px-6 py-4 rounded-lg border-4 border-gray-300 border-dotted">
                <div class="flex flex-col justify-center items-center space-y-2">
                  <div>
                    <fa-icon [icon]="beer" class="text-3xl text-gray-400 mb-2"></fa-icon>
                  </div>
                  <div class="text-gray-400 font-semibold text-xl">
                    Nothing to do for you today.
                  </div>
                  <div class="text-gray-400">
                    Grab a beer and relax.
                  </div>
                </div>
            </div>
          </div>
        </ng-template>
      </ng-container>
      <ng-template #loading>
        <div class="mt-4">
          <div *ngFor="let i of [1,2,3]" class="bg-gray-100 animate-pulse p-8 my-2 rounded-lg"></div>
        </div>
      </ng-template>
    </div>
  </div>
</div>








