<app-header></app-header>

<div class="px-16 widget-container">
  <div class="widget">

    <div class="widget-blur"
         style="background: linear-gradient(135deg, #FCD34D, #F87171)">
    </div>

    <div class="widget-content"
         style="border: 1px solid #efb492; min-height: 450px;">
      <div class="widget-headline text-yellow-400">
        User Management
      </div>

      <form [formGroup]="form" class="flex space-x-2 mt-2 justify-between items-center">
        <div>
          <a (click)="addUser()"
             class="has-tooltip bg-cyan-400 hover:bg-cyan-500 cursor-pointer border-cyan-400 hover:border-cyan-500 focus:outline-none rounded-md p-2 border-2 text-white">
            <fa-icon [icon]="addIcon" class="text-white"></fa-icon>

            Add User
          </a>
        </div>
        <div *ngIf="users$ | async;">
          <input class="search-input"
                 placeholder="Filter" formControlName="searchTerm"
                 type="text">
          <button (click)="reset()"
                  class="reset-button has-tooltip">
            <fa-icon [icon]="resetIcon"></fa-icon>
            <span class='tooltip '>Reset</span>
          </button>
        </div>
      </form>

      <!-- component -->

      <ng-container *ngIf="users$ | async; else loading">
        <ng-container *ngIf="filteredUsers.length; else noUsers">
          <div class="rounded mt-6">
            <table class="table-fixed ">
              <thead class="border-b-2 pb-2 border-gray-200">
              <tr class="font-semibold text-gray-600">
                <th class="py-3 px-6  w-2/12">First name</th>
                <th class="py-3 px-6 w-2/12">Last name</th>
                <th class="py-3 px-6  w-3/12">Email</th>
                <th class="py-3 px-6 w-2/12">Username</th>
                <th class="py-3 px-6  w-1/12">Colors</th>
                <th class="py-3 px-6 w-2/12 text-right">Actions</th>
              </tr>
              </thead>
              <tbody class="text-gray-500 text-sm">
              <tr *ngFor="let user of filteredUsers; let i = index" [ngClass]="i % 2 == 0? 'bg-gray-50': 'bg-white'">
                <td class="table-d">
                  <div class="table-layout">
                    <span>{{user.firstName}}</span>
                  </div>
                </td>
                <td class="table-d">
                  <div class="table-layout">
                    <span>{{user.lastName}}</span>
                  </div>
                </td>
                <td class="table-d">
                  <div class="table-layout">
                    <span>{{user.eMail}}</span>
                  </div>
                </td>
                <td class="table-d">
                  <div class="table-layout">
                    <span>{{user.userName}}</span>
                  </div>
                </td>
                <td class="table-d">
                  <div class="table-layout">
                    <div [style.background-color]="user.color" class="p-px w-full  rounded-xl">&nbsp;
                    </div>
                  </div>
                </td>
                <td class="table-d">
                  <div class="flex items-center justify-end">
                    <button (click)="editUser(user)" class="rounded-md py-px px-2 has-tooltip">
                      <fa-icon [icon]="editIcon" class="text-gray-400 hover:text-yellow-400 text-lg"
                               fixedWidth></fa-icon>
                      <span class='tooltip '>Edit User</span>
                    </button>
                    <button (click)="deleteUser(user)" class="rounded-md p-2 has-tooltip">
                      <fa-icon [icon]="deleteIcon" class="text-gray-400 hover:text-rose-500 text-lg"
                               fixedWidth></fa-icon>
                      <span class='tooltip '>Delete User</span>
                    </button>

                  </div>
                </td>
              </tr>
              </tbody>
            </table>
          </div>
        </ng-container>
        <ng-template #noUsers>
          <ng-container *ngIf="isFiltered; else nothing">
            <div class="mt-8">
              <div class="placeholder-outline">
                <div class="flex flex-col justify-center items-center space-y-4 text-gray-400 dark:text-gray-500">
                  <div class="mb-2">
                    <fa-icon [icon]="search" class="text-4xl"></fa-icon>
                  </div>
                  <div class="font-semibold text-xl">
                    Sorry, there are no results for '{{ this.form.get('searchTerm').value }}'.
                  </div>
                  <div>
                    Please retry the search with another search term.
                  </div>
                </div>
              </div>
            </div>
          </ng-container>
          <ng-template #nothing>
            <div class="mt-8">
              <div class="placeholder-outline">
                <div class="flex flex-col justify-center items-center space-y-4">
                  <div class="mb-2">
                    <fa-icon [icon]="userSlash" class="text-4xl text-gray-400"></fa-icon>
                  </div>
                  <div class="text-gray-400 font-semibold text-xl">
                    Sorry, no users available.
                  </div>
                  <div class="text-gray-400">
                    You can add a user, if you want.
                  </div>
                </div>
              </div>
            </div>
          </ng-template>
        </ng-template>
      </ng-container>
      <ng-template #loading>
        <div class="mt-8">
          <div *ngFor="let i of [1,2,3]" class="loading-indicator"></div>
        </div>
      </ng-template>
    </div>
  </div>
</div>






