<app-header></app-header>

<div class=" mt-24 flex items-center justify-center px-16 z-20">
  <div class="relative w-full max-w-5xl">

    <div class="absolute left-2 top-2 right-2 bottom-2 filter blur-md"
         style="background: linear-gradient(135deg, #FCD34D, #F87171)">
    </div>

    <div class="container relative mx-auto bg-white p-8 rounded-md"
         style="border: 1px solid #efb492; min-height: 500px;">
      <div class="text-4xl text-yellow-400 mb-10">
        User Management
      </div>

      <form [formGroup]="form" class="flex space-x-2 mt-2 justify-between items-center">
        <div>
          <a (click)="addUser()"
                  class="has-tooltip bg-cyan-400 hover:bg-cyan-500 cursor-pointer border-cyan-400 hover:border-cyan-500 focus:outline-none rounded-md p-2 border-2 text-white">
            <fa-icon [icon]="addIcon" class="text-white"></fa-icon>
            <span class='tooltip rounded shadow-lg p-1 bg-gray-50 text-black -mb-8'>Add User</span>

            Add User
          </a>
        </div>
        <div>
            <input class="border-b-2 border-gray-300 hover:border-cyan-500 focus:outline-none"
                   placeholder="Filter" formControlName="searchTerm"
                   type="text">
            <button (click)="reset()"
                    class="focus:outline-none text-gray-400 hover:text-cyan-600">
              <fa-icon [icon]="resetIcon"></fa-icon>
            </button>
        </div>
      </form>

      <!-- component -->

      <ng-container *ngIf="users$ | async; else loading">
        <ng-container *ngIf="filteredUsers.length; else noUsers">
          <div class="rounded mt-6">
            <table class="table-fixed ">
              <thead class="border-b-2 pb-2 border-gray-200">
              <tr class="font-semibold text-gray-600">
                <th class="py-3 px-6  w-2/12">First name</th>
                <th class="py-3 px-6 w-2/12">Last name</th>
                <th class="py-3 px-6  w-3/12">Email</th>
                <th class="py-3 px-6 w-2/12">Username</th>
                <th class="py-3 px-6  w-1/12">Colors</th>
                <th class="py-3 px-6 w-2/12 text-right">Actions</th>
              </tr>
              </thead>
              <tbody class="text-gray-500 text-sm">
              <tr *ngFor="let user of filteredUsers; let i = index" [ngClass]="i % 2 == 0? 'bg-gray-50': 'bg-white'">
                <td class="py-2 px-6 text-center whitespace-nowrap">
                  <div class="flex items-center justify-center">
                    <span>{{user.firstName}}</span>
                  </div>
                </td>
                <td class="py-2 px-6 text-center whitespace-nowrap">
                  <div class="flex items-center justify-center">
                    <span>{{user.lastName}}</span>
                  </div>
                </td>
                <td class="py-2 px-6 text-center whitespace-nowrap">
                  <div class="flex items-center justify-center">
                    <span>{{user.eMail}}</span>
                  </div>
                </td>
                <td class="py-2 px-6 text-center whitespace-nowrap">
                  <div class="flex items-center justify-center">
                    <span>{{user.userName}}</span>
                  </div>
                </td>
                <td class="py-2 px-6 text-center whitespace-nowrap">
                  <div class="flex items-center justify-center">
                    <div [style.background-color]="user.color" class="p-px w-full  rounded-xl">&nbsp;
                    </div>
                  </div>
                </td>
                <td class="py-2 px-6 text-center whitespace-nowrap">
                  <div class="flex items-center justify-end">
                    <button (click)="editUser(user)" class="rounded-md py-px px-2">
                      <fa-icon [icon]="editIcon" class="text-gray-400 hover:text-yellow-400 text-lg"
                               fixedWidth></fa-icon>
                    </button>
                    <button (click)="deleteUser(user)" class="rounded-md p-2">
                      <fa-icon [icon]="deleteIcon" class="text-gray-400 hover:text-rose-500 text-lg"
                               fixedWidth></fa-icon>
                    </button>

                  </div>
                </td>
              </tr>
              </tbody>
            </table>
          </div>
        </ng-container>
        <ng-template #noUsers>
          <div class="mt-8">
            <div class="px-6 py-4 rounded-lg border-2 border-cyan-500 border-l-8">
              <div class="flex items-center space-x-4">
                <div>
                  <fa-icon [icon]="info" class="text-cyan-500 text-xl"></fa-icon>
                </div>
                <div class="text-gray-400">
                  No users available.
                </div>
              </div>
            </div>
          </div>
        </ng-template>
      </ng-container>
      <ng-template #loading>
        <div class="mt-8">
          <div *ngFor="let i of [1,2,3]" class="bg-gray-100 animate-pulse p-8 my-2 rounded-lg"></div>
        </div>
      </ng-template>
    </div>
  </div>
</div>






