<app-modal-wrapper (primaryAction)="addUser()" [header]="'Add User'" (secondaryAction)="closeModal()"
                   [primaryText]="'Add User'" [headerClasses]="'text-cyan-400'"
                   [classes]="'bg-cyan-400 hover:bg-cyan-500 border-cyan-400 hover:border-cyan-500'">
    <form [formGroup]="form" (keyup.enter)="addUser()" class="space-y-4">
        <div>
            <app-form-input [type]="'text'" [label]="'First name'"></app-form-input>
        </div>
        <div>
            <app-form-input [type]="'text'" [label]="'Last name'"></app-form-input>
        </div>
        <div>
            <app-form-input [type]="'email'" [label]="'E-Mail'"></app-form-input>
        </div>
        <div>
            <app-form-input [type]="'text'" [label]="'Username'"></app-form-input>
        </div>
        <div class="textbox">
            <input type="color" name="" value="" placeholder=" " id="color">
            <label for="color">Color</label>
        </div>

    </form>

</app-modal-wrapper>

