<app-header></app-header>


<div class=" mt-24 flex items-center justify-center px-16 z-20">
  <div class="relative w-full max-w-2xl">

    <div class="absolute left-2 top-2 right-2 bottom-2 filter blur-md bg-gray-400">
    </div>

    <div class="container relative mx-auto bg-white p-8 rounded-md"
         style="min-height: 450px; border: solid 1px #D1D5DB;">
      <div class="text-4xl text-gray-500 mb-10">
        Imprint
      </div>

      <h2 class="text-xl mb-8 font-semibold text-gray-400">
        According to § 5 TMG
      </h2>
      <div class="flex space-x-4 justify-between">
        <div>
          <h2 class="text-gray-400">Address</h2>
          <p>Annika Fuhge<br />
            Musterstra&szlig;e 111<br />
            Geb&auml;ude 44<br />
            90210 Musterstadt</p>
        </div>
        <div>
          <h2 class="text-gray-400">Contact</h2>
          <p>Phonenumber: +49 (0) 123 44 55 66<br />
            Fax: +49 (0) 123 44 55 99<br />
            E-Mail: annikafuhge96@gmail.com</p>
        </div>
      </div>
    </div>
  </div>
</div>
