<app-header></app-header>


<div class=" mt-24 flex items-center justify-center px-16 z-20">
  <div class="relative w-full max-w-5xl">

    <div class="container relative mx-auto bg-white p-8 rounded-md"
         style="min-height: 450px; border: solid 1px #D1D5DB;">
      <div class="text-4xl text-gray-500 mb-10">
        Privacy
      </div>

      <div class="space-y-4">
        <div>
          <h2 id="rechtsgrundlagen" class="text-gray-400 font-semibold">Legal bases</h2>
          <div>In the following data protection declaration we give you transparent information on the legal
            Principles and regulations, i.e. the legal basis of the General Data Protection Regulation, which we
            enable personal data to be processed.<br/>
            <div class="pt-2">
              As for EU law, we refer to REGULATION (EU) 2016/679 OF THE EUROPEAN PARLIAMENT AND
              OF THE COUNCIL of April 27, 2016. You can of course download this EU General Data Protection Regulation online
              on EUR-Lex, the access to EU law, under <a
                                                           href="https://eur-lex.europa.eu/legal-content/DE/ALL/?uri=celex%3A32016R0679&amp;tid=311295288"
                                                           target="_blank" rel="noopener">https://eur-lex.europa.eu/legal-content/DE/TXT/?uri=celex%3A32016R0679</a>
          .</div></div>
          <p>We only process your data if at least one of the following conditions applies:</p>
          <ol class="mt-4 space-y-4">
            <li>
              <strong class="text-gray-500">Consent</strong> (Article 6 Paragraph 1 lit. a GDPR): You have us
              You have given your consent to process data for a specific purpose. An example would be that
              Storage of the data you entered in a contact form.
            </li>
            <li>
              <strong class="text-gray-500">Contract</strong> (Article 6 Paragraph 1 lit.b GDPR): To enter into a contract
              or to fulfill pre-contractual obligations with you, we process your data. When we go to the
              For example, to conclude a sales contract with you, we need personal information in advance. </li>
            <li>
              <strong class="text-gray-500">Legal obligation</strong> (Article 6 Paragraph 1 lit.c GDPR):
              If we are subject to a legal obligation, we will process your data. For example we are
              legally required to keep invoices for bookkeeping. These usually contain
              personal data.
            </li>
            <li >
              <strong class="text-gray-500">Legitimate interests</strong> (Article 6 Paragraph 1 lit.f GDPR): Im
              In the case of legitimate interests that do not restrict your fundamental rights, we reserve the right to process them
              personal data. For example, we need to process certain data to keep our website secure
              and to be able to operate it economically efficiently. This processing is therefore a legitimate interest.</li>
          </ol>
          <p>Other conditions such as the perception of recordings in the public interest and exercise of public
            Violence and the protection of vital interests do not usually occur with us. So far such a thing
            Should the legal basis be relevant, it will be shown in the appropriate place.</p>
          <p>In addition to the EU regulation, national laws also apply:</p>
          <ul >
            <li >In <strong class="text-gray-500">Germany</strong> the <strong class="text-gray-500"
              >Federal Data Protection Act</strong>, or short<strong class="text-gray-500" >
              BDSG</strong> applies.
            </li>
          </ul>
          <p>If other regional or national laws apply, we will inform you in the following
            Sections about it.</p>

        </div>
        <div>
          <h2 class="text-gray-400 font-semibold">Contact details of the person responsible</h2>
          <div>If you have any questions about data protection, you will find the contact details of the responsible person below:
            <div class="mt-2">Annika Fuhge</div>
            <div>E-Mail: <a href="mailto:annikafuhge96@gmail.com">annikafuhge96@gmail.com</a></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
