<app-modal-wrapper (primaryAction)="addAssignee()" [header]="'Add Assignees'" (secondaryAction)="closeModal()"
                   [primaryText]="'Add Assignees'" [headerClasses]="'text-cyan-400'"

                   [classes]="'modal-primary-button'">


  <form [formGroup]="form" class="flex mt-2 justify-end items-center pb-4">
    <div *ngIf="users$ | async;">
      <input class="search-input"
             placeholder="Filter" formControlName="searchTerm"
             type="text">
      <button (click)="reset()"
              class="reset-button has-tooltip">
        <fa-icon [icon]="resetIcon"></fa-icon>
        <span class='tooltip '>Reset</span>
      </button>
    </div>
  </form>

  <!-- component -->

  <ng-container *ngIf="users$ | async; else loading">
    <div *ngIf="filteredUsers.length; else noUsers" class="space-y-1 overflow-y-auto"
         style="min-height: 300px; height:300px;">
      <button (click)="toggleSelected(assignee)" *ngFor="let assignee of filteredUsers"
              class="p-4 w-full flex justify-between items-center"
              [ngClass]="assignee.isSelected? 'bg-cyan-400 text-white': 'bg-gray-50 dark:bg-gray-700 text-gray-700 dark:text-gray-400'">
        <div>{{assignee.user.firstName}} {{assignee.user.lastName}}</div>
        <div>
          <fa-icon [icon]="assignee.isSelected? check: circle" class="text-2xl"
                   [ngClass]="assignee.isSelected? 'text-white' : ' text-gray-500'"></fa-icon>
        </div>
      </button>
    </div>
    <ng-template #noUsers>
      <ng-container *ngIf="isFiltered; else nothing">
        <div class="mt-8">
          <div class="placeholder-outline">
            <div class="flex flex-col justify-center items-center space-y-4">
              <div class="mb-2">
                <fa-icon [icon]="search" class="text-4xl text-gray-400"></fa-icon>
              </div>
              <div class="text-gray-400 font-semibold text-xl">
                Sorry, there are no results for '{{ this.form.get('searchTerm').value }}'.
              </div>
              <div class="text-gray-400">
                Please retry the search with another search term.
              </div>
            </div>
          </div>
        </div>
      </ng-container>
      <ng-template #nothing>
        <div class="mt-8">
          <div class="placeholder-outline">
            <div class="flex flex-col justify-center items-center space-y-4">
              <div class="mb-2">
                <fa-icon [icon]="userSlash" class="text-4xl text-gray-400"></fa-icon>
              </div>
              <div class="text-gray-400 font-semibold text-xl">
                Sorry, no users available.
              </div>
              <div class="text-gray-400">
                You can add a user, if you want.
              </div>
            </div>
          </div>
        </div>
      </ng-template>
    </ng-template>
  </ng-container>
  <ng-template #loading>
    <div class="mt-8">
      <div *ngFor="let i of [1,2,3]" class="loading-indicator"></div>
    </div>
  </ng-template>

</app-modal-wrapper>

