<div class="top-24 right-8 z-10 absolute space-y-2">
  <div class="bg-white rounded-md space-y-2 shadow-md border-l-4 w-80 px-4 py-2"
       *ngFor="let notification of notifications"
       @simpleFadeAnimation
       [ngClass]="notification.isSuccess? 'border-green-500': 'border-rose-500'">
    <div class="grid grid-cols-7">
      <div class="flex items-center">
        <fa-icon class="text-2xl" [icon]="notification.isSuccess? success : error"
                 [ngClass]="notification.isSuccess?'text-green-500':'text-rose-500'"></fa-icon>
      </div>
      <div class="col-span-5">
        <div class="font-semibold">{{ notification.title }}</div>
        <div class="text-gray-500">{{ notification.message }}</div>
      </div>
      <div class="text-right">
        <button (click)="closeNotification(notification)" class="outline-none">
          <fa-icon [icon]="close" class="text-gray-500"></fa-icon>
        </button>
      </div>
    </div>
  </div>
</div>

