
.buttons {
  display: none;
}

.datepicker {
  display: none;
}

.todo:hover .buttons {
  display: flex;
  justify-content: flex-end;
}

.date:hover .datepicker {
  display: flex;
  justify-content: flex-end;
}

input[type="date"] {
  width: 130px;
}
