/* You can add global styles to this file, and also import other style files */
@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

body {
  font-family: 'Montserrat', sans-serif;
  background: #FAFAFA;
  overflow-x: hidden;
}


.tooltip {
  @apply absolute rounded shadow-lg p-1 bg-white text-sm text-black mt-8 opacity-0;
}

.has-tooltip:hover .tooltip {
  @apply z-50 transition delay-200 duration-300 ease-linear opacity-100;
}
